In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

import functions

from sklearn.preprocessing import MinMaxScaler

In [2]:
symbol = yf.Ticker('YUM')
per = '10y'

stock_data_df = functions.combine_all(symbol, per)
stock_data_df.head()

,Close,SMA,Upper Band,Lower Band,Volatility,EMA12,EMA26,MACD,Signal,Histogram,SMA50,SMA200,RSI,Volume
Date,,,,,,,,,,,,,,
2014-11-21 00:00:00-05:00,46.021538,44.235821,46.625321,41.846322,0.009551,44.962976,44.182178,0.780798,0.640510,0.140288,43.271482,44.887478,0.419248,5083410
2014-11-24 00:00:00-05:00,46.343063,44.440570,46.814643,42.066497,0.009398,45.175297,44.342243,0.833053,0.679019,0.154034,43.333164,44.901868,0.419243,3830675
2014-11-25 00:00:00-05:00,46.282410,44.624996,46.967910,42.282082,0.009452,45.345621,44.485959,0.859662,0.715147,0.144515,43.390618,44.914611,0.372598,4484028
2014-11-26 00:00:00-05:00,46.561474,44.841576,47.049178,42.633974,0.008966,45.532673,44.639700,0.892973,0.750712,0.142261,43.448467,44.927853,0.350747,3459834
2014-11-28 00:00:00-05:00,46.864799,45.062099,47.143146,42.981051,0.008973,45.737616,44.804522,0.933093,0.787189,0.145905,43.509730,44.941686,0.420192,2094011

In [3]:
#only keep price (close), volume, volatitlity, rsi , bollinger bands, and sma
features = ['Close', 'SMA50', 'Lower Band', 'Upper Band', 'Volatility', 'RSI']
select_data = stock_data_df[features]
select_data.head()

,Close,SMA50,Lower Band,Upper Band,Volatility,RSI
Date,,,,,,
2014-11-21 00:00:00-05:00,46.021538,43.271482,41.846322,46.625321,0.009551,0.419248
2014-11-24 00:00:00-05:00,46.343063,43.333164,42.066497,46.814643,0.009398,0.419243
2014-11-25 00:00:00-05:00,46.282410,43.390618,42.282082,46.967910,0.009452,0.372598
2014-11-26 00:00:00-05:00,46.561474,43.448467,42.633974,47.049178,0.008966,0.350747
2014-11-28 00:00:00-05:00,46.864799,43.509730,42.981051,47.143146,0.008973,0.420192

In [4]:
date_col = select_data.index.date
# Convert the 'DateTime' column to datetime objects
date_col

array([datetime.date(2014, 11, 21), datetime.date(2014, 11, 24),
       datetime.date(2014, 11, 25), ..., datetime.date(2024, 2, 7),
       datetime.date(2024, 2, 8), datetime.date(2024, 2, 9)], dtype=object)

In [5]:
#normalize data using sklearns MinMax Scaler
scaler = MinMaxScaler()

scaled_data = scaler.fit_transform(select_data)

scaled_df = pd.DataFrame(scaled_data, columns=select_data.columns)
scaled_df.head()
scaled_df.insert(0, 'Date', date_col)

In [6]:
#scaled_df = functions.normalize_df(select_data) should work idk why its not

In [7]:
scaled_df.to_csv('scaled_yum_10_year.csv')

In [8]:
scaled_df.head()

,Date,Close,SMA50,Lower Band,Upper Band,Volatility,RSI
0,2014-11-21,0.052846,0.000000,0.025470,0.016102,0.071842,0.639937
1,2014-11-24,0.056056,0.000677,0.027820,0.018060,0.069828,0.639936
2,2014-11-25,0.055450,0.001307,0.030121,0.019644,0.070528,0.632076
3,2014-11-26,0.058236,0.001942,0.033876,0.020484,0.064137,0.628394
4,2014-11-28,0.061264,0.002614,0.037580,0.021456,0.064226,0.640096